In [1]:
!pip install mysql
!pip install mysql.connector
!pip install mysql-connector-python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Tarun@12",
  auth_plugin="mysql_native_password"
)

mycursor = mydb.cursor()

mycursor.execute("DROP DATABASE mulesoft")
mycursor.execute("CREATE DATABASE mulesoft")
mycursor.close()

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Tarun@12",
  auth_plugin="mysql_native_password",
  database = "mulesoft"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE movies (movies_name VARCHAR(255), actor_name VARCHAR(255), actress_name VARCHAR(255), director_name VARCHAR(255), year_of_release INTEGER)");
sql = "INSERT INTO movies (movies_name, actor_name, actress_name, director_name, year_of_release) VALUES (%s, %s, %s, %s, %s)"
val = ("Phir Hera Pheri", "Akshay Kumar", "Rimi Sen", "Neeraj Vora", 2006)
mycursor.execute(sql, val)

val = ("Hum Saath Saath h", "Salman Khan", "Karishma Kapoor", "Sooraj Barjatya", 1999)
mycursor.execute(sql, val)

val = ("Hum Apke Hai Kon", "Salman Khan", "Madhuri Dixit", "Sooraj Barjatya", 1994)
mycursor.execute(sql, val)

val = ("Munna Bhai M.B.B.S.", "Sanjay Datt", "Gracy Singh", "Raj Kumar Hirani", 2003)
mycursor.execute(sql, val)

val = ("Lage Raho Munna Bhai", "Sanjay Datt", "Vidhya Balan", "Raj Kumar Hirani", 2006)
mycursor.execute(sql, val)

val = ("Singham", "Ajay Devgen", "Kajal Agarwal", "Rohit Shetty", 2011)
mycursor.execute(sql, val)

val = ("Singham Returns", "Ajay Devgen", "Kareena Kapoor", "Rohit Shetty", 2014)
mycursor.execute(sql, val)

mydb.commit()
mycursor.execute("SELECT * FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
mycursor.execute("SELECT actor_name FROM movies where year_of_release = 2006")

myresult = mycursor.fetchall()

for x in myresult:
  print(x[0])

Requirement already satisfied: mysql in c:\users\golde\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\golde\anaconda3\lib\site-packages (from mysql) (2.0.3)
Requirement already satisfied: mysql.connector in c:\users\golde\anaconda3\lib\site-packages (2.2.9)
Requirement already satisfied: mysql-connector-python in c:\users\golde\anaconda3\lib\site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\golde\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\users\golde\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
('Phir Hera Pheri', 'Akshay Kumar', 'Rimi Sen', 'Neeraj Vora', 2006)
('Hum Saath Saath h', 'Salman Khan', 'Karishma Kapoor', 'Sooraj Barjatya', 1999)
('Hum Apke Hai Kon', 'Salman Khan', 'Madhuri Dixit', 'Sooraj Barjatya', 1994)
('Munna Bhai M.B.B.S.', 'Sanjay Datt', 'Gracy Singh', 'Raj Kumar Hirani', 2003)
('Lage Raho Munna Bhai', 'Sanjay Datt', 'Vidhya Balan', 'Raj Kumar Hirani', 2006)
('Singham', 'Ajay Devgen', 'Kajal Agarwal', 'Rohit Shetty', 2011)
('Singham Returns', 'Ajay Devgen', 'Kareena Kapoor', 'Rohit Shetty', 2014)
Akshay Kumar
Sanjay Datt